@model Product

@{
    ViewData["Title"] = "Details";
    
}

<h3>تفاصيل المنتج </h3>


<div class='row justify-content-center'>

    <div class='col-md-6 col-sm-12 '>
        <div class="card flex-column justify-content-center p-0 my-shadow">
        <img class="card-img-top align-self-center mt-2 rounded-circle" src="/Img/ProductImages/@Model.Image" alt="Card image" style="max-width:50%" >
        <div class="card-body text-center">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text"> وصف المنتج :  @Model.Description</p>
            <p class="card-text"> السعر :  @Model.Price  جنيه </p>

                @if (Model.HasDiscount == true)
                {
                    <p class="card-text"> الخصم :  @Model.DiscountPercentage % </p>           
                    <p class="card-text"> السعر بعد الخصم : @((Model.Price )-(( Model.DiscountPercentage /100)*(Model.Price))) جنيه </p>
                }
  
    
             <a asp-action="Index" class='btn btn-info'>العودة إلي كل المنتجات </a>        
                    @if (User.IsInRole(Roles.BUYER_ROLE))
                    {
                        <a class='btn btn-secondary ms-2' asp-action="Update"asp-route-id="@Model.Id">تعديل المنتج <i class='fa fa-edit'></i>  </a>
                    }
          
             
                    <form asp-controller="Cart" asp-action="addtocart" asp-route-id="@Model.Id" method="post" class='mt-2'>
                        <button class="btn btn-success"  type="submit">اضافة للسلة<i class='fa fa-shopping-cart'></i></button>
                    </form>
              
         </div>
    </div>

    </div>

</div>